######################
# Project Specific
######################
/config
/target

######################
# Intellij
######################
.idea/**
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/**
/*/target/**

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear

######################
# Windows
######################
# Windows image file caches
Thumbs.db
*.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*


######################
# Directories
######################
/build/**
/bin/**
/spring_loaded/**
/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
*.serial

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

logs/
